.body {
  width: 100%;

  background-color: rgba(127, 255, 212, 0);

  display: grid;

  grid-template-areas:
    "head  head head"
    " .   login . "
    " .  . . "
    " .  . . "
    " .  . . "
    "  .   form . "
    " .   form . "
    " .   form ."
    " .   form . ";

  gap: 10px;
}

.body div {
  text-align: center;
 
  background-color: rgba(0, 0, 255, 0);
  font-size: 30px;
}

.head {
  grid-area: head;
  display: flex;
  justify-content: center;
}
.head img {
  width: 200px;
}

.login {
  grid-area: login;

  font: bold 24px/20px "Cairo";
}
.form {
  grid-area: form;
  display: flex;
  justify-content: center;
 
}
.form .submit {
  
 width: 50%;
  font-size: 20px;
   
  background-color:   rgb(168, 229, 255);
  
}

.form .submit:hover{
  
 
  font-size: 22px;
  border: 2px black solid;
 
  
}

.form .submit:active{
  
 
 
  border: 2px black solid;
 
  
}

.form input:focus {
  
 
  
  border: 3px  blue solid;
 
  
}